

{% extends "base.html" %}
{% block title %}Welcome to {{tempobj.name['full']}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>Welcome to {{tempobj.name['full']}} <a href="/{{tempobj.__class__.__name__|lower}}?seed={{tempobj.seed}}">({{tempobj.seed}})</a></h1>

{% if tempobj.census%}
<div >
Census Data
General Information
Pop. Estimate: {{tempobj.census.population_estimate}}
Children: {{tempobj.census.children.percent}}% ({{tempobj.census.children.count}})
Elderly: {{tempobj.census.elderly.percent}}% ({{tempobj.census.elderly.count}})
Racial Breakdown
{%for race in tempobj.census.races%}
{{race.count}}% {{race.name}} ({{race.percent}})
{%endfor%}
Buildings
10 Residences
0 Businesses
0 Specialists
</div>
{%endif%}

<h2>Summary [-]</h2>

{{tempobj.name['full']}} is {{tempobj.size['name']|article}} in the _________ Region of _________.

Geography [-]

This desolate {{tempobj.size['name']}} is sparsely populated (52/sq km), covers 1.42 square kilometers, and roughly has a diameter of 1344 meters.
Climate [-]

Drakena has a Temperate Deciduous Forest climate, which is characterized by warm and wet summers with mild and dry winters, and has prevernal, spring, summer, monsoon, autumn and winter seasons. Winds in the region are breezy and the temperature is generally unbearably cold with little variation. Precipitation is heavy, and the sky is clear.
Astronomy [-]

Drakena sees a single star overhead: Toc, an average blue star. Drakena also has a double moon: Mola, a small pale yellow moon and Prole, a massive rusty red moon. In the night sky, you see a celestial object: a tiny galaxy that has been around since time immemorial.
Cityscape [-]

Walls [-]

No walls currently surround the city.
Streets [-]

There are 5 roads leading to Drakena; 1 road is major. The city is lined with filthy cobblestone paths in a wheel and spoke pattern.
Districts [-]

The city is broken into the following districts: market, poor, wealthy, and middleclass.
Government [-]

Drakena is governed through an oligarchy, where control is exercised by a small group of individuals whose authority generally is based on wealth or power. The government as a whole is seen as clearly incompetent. Officials in Drakena are often seen as crooked and the policies are praised. The political influence of Drakena in the region is dwindling rapidly due to riots in the region. In times of crisis, the population flees for the hills.
Leader [-]

Drakena is ruled by Prime Minister Grimnir Clayfist. The Prime Minister has been in power far longer than should be allowed and is praised by the people. There is public opposition to the Prime Minister and policies. The right to rule was granted by force, and that power is maintained by secret police raiding homes in the dead of night.
Laws [-]

Laws are enforced by a neighborhood watch, and are strictly enforced. Justice is served by jurors, with a common punishment being stoning.
Crime [-]

Crime is occasional. The most common crime is fraud. The imprisonment rate is 0.00% of the population (0 adults).
Military [-]

Drakena has a laid back attitude towards the military. Their standing army of 10 citizens (13.75%) is at the ready, with a reserve force of 4 (5.5%). Of the active duty military, 0 (3.75%) are special forces. Due to their laid back attitude and lack of defensible wall, Drakena is inadequately fortified. Drakena fighters are praised for their use of claw bracers in battle. They are respected for their hoarde tactics and are considered terribly skilled in battle.
Economy [-]

The economy in Drakena is currently stable.
Currencies [-]

The following currencies are common in Drakena:
A Lod is a low-value, ideally weighted coin that is minted by the region authority. It is pentagonal, giant (40mm ), and made of copper. The designs on the coin are meticulous.
A Bonlar is a moderate-value, ideally weighted coin that is minted by the region authority. It is square, medium ( 24mm ), and made of silver. The designs on the coin are rough. Worth 10 Lod.
A Quat is a high-value, ideally weighted coin that is minted by the region authority. It is triangular, tiny ( 18mm ), and made of gold. The designs on the coin are exact. Worth 10 Bonlar.
Adventurers may also find an old Zomun. A Zomun is an ideally weighted, worthless coin that is common in the city. It is medium ( 24mm ), square, and made of wood. The coins are covered with intricate designs.
Resources [-]

Drakena is known for the following resources:

Vast dangerous clam beds that are frequented by zombies.
Poisonous caterpillar nests that are feared by townspeople.
Culture [-]

Religions [-]

In, Drakena, you can find worsipers of the following deities:
Nboten (continuity, northern wind, warmth, radiance, eternal light, and powermongers)
Taurdol (love and law)
Thorbul (disasters and flora)
Alavarthil (ghouls)
Nbods (defense, duels, mental mastery, and natural alchemy)
Elcob (pacifism and blind beggars)
Legends [-]

Around town you'll hear the following legends:
In olden times, the townsfolk of Libnow thrived. Things were always nice, but one day a lich named Rugub Cleaverhost took over the town. The townsfolk tried to kill Rugub Cleaverhost, but were caught. Along came a hero named Tuleno Cobblesprocket, who was an expert bowman. Tuleno had a plan to trick the lich by killing the lich while he slept. When Tuleno Cobblesprocket faced the lich, Tuleno Cobblesprocket killed the lich.
Legends tell of Malcob's Rake, a legendary rake with the ability to summon angels. It hasn't reappeared in years.
Events [-]

Drakena is a lively city with many opportunities available.
Job Postings [-]

You'll find the following job postings:
Merchant seeks caravan master, cartographer, navigator, and experienced mercenaries for trade expedition. Safety not guaranteed. Reward is a priceless heirloom. Contact Ghor Legripper to learn more.
I have lizards in my basement, plz halp! Reward is a secret. Contact S'hooral ahn S'hoorzor for more details.
Help Needed: A passing Cleric is needed for a small security job on the 3rd of the month. No pay until task is completed successfully. Prior experience required. Will pay in gold. Contact Porraz.
Adventurers willing to explore recently discovered ruins and return any valuable artifacts. No pay until task is completed successfully. Reward is a secret. Contact Cotina Electrogauge.
Needed: Looking for work? Davson Davick has been kidnapped! Generous payment for safe return. Will pay in gold. Contact Abavarava Heartears for more information.
Want to earn some quick coin? Ghessen ahn Yerssen has been kidnapped! Generous payment for safe return. Accidental Death insurance required. No pay until task is completed successfully. Reward available. Contact Narkasr Metalfury.
People [-]

The people in Drakena are accepting of outsiders.
Citizens [-]

The following citizens are worth mentioning:
Trzar Darkmaw is a female hobgoblin who is known in the world as being a poorly skilled tanner. She appears impatient.
Nop is a female kobold who is known in the neighborhood as being a decently skilled harness maker. She appears resentful.
Gip is a female kobold who is known in the world as being an impressively skilled illuminator. She appears exhausted.
Niz is a male kobold who is known in the city as being a mediocrely skilled glassmaker. He appears forgetful.
Esteuul Zhavidol is a male minotaur who is known in that part of town as being a reasonably skilled leatherworker. He appears nosy.
Fax is a male kobold who is known in the world as being a gifted jailer. He appears fatalistic.
Khalal teh Yeral is a male lizardfolk who is known in the world as being a reasonably skilled armorer. He appears boastful.
Xainrath Masak is a male minotaur who is known in the region as being a decently skilled dyer. He appears cowed.
Travelers [-]

The following travelers are worth mentioning:
Easme Bartofield, a battle-ready female lycanthrope. She is a commoner who is finding work as a spy.
Thorrun Coldcoin, an accusatory female deep dwarf. She is a commoner who is traveling the world as a missionary.
Locales [-]

Establishments [-]

These establishments worthy of mention in Drakena:

The Thirsty Rock Worship House [+]
The Purple Knife Arena [+]
The Lazy Fireplace Cart Repairs [+]
The Tipsy Crate Supplies [+]
The Divine Virgin Clinic [+]
The Marbled Crate Inc. [+]
The Thirsty Helix Temple [+]
The Beefy Kettles Shoppe [+]



<pre>
{%for field in tempobj.__dict__%}
    {{field}}  {{tempobj[field]}}
 {%endfor%}
</pre>

{% endblock %}
