
{% extends "base.html" %}
{% block title %}Welcome to {{country.name['full']}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>Welcome to <a href="/country?seed={{country.seed}}">{{country.name['full']}} ({{country.seed}})</a></h1>

    <h2>Summary</h2>
<p>
{{country.name['full']}} is {{country.age['name']|article}} {{country.size['name']}} country.
When foreigners are asked about {{country.name['full']}}, they say it is {{country.reputation['name']}} by other nations.
Many outsiders consider {{country.name['full']}} {{country.aggression['name']}} towards other nations.
People think the government of {{country.name['full']}} is {{country.corruption['name']}}, while the citizens {{country.approval['name']}} it.
</p>
<p>
The country's Government is often described as {{country.efficiency['name']}}.
The political influence of {{country.name['full']}} in the region is {{country.influence['name']}}.
In times of crisis, the population {{country.unity['name']}}.
Religion in {{country.name['full']}} {{country.theology['name']}}.
Other nations see {{country.name['full']}} as {{country.military['name']}}.
</p>
<p>
Socially, {{country.name['full']}} is {{country.social['name']}} and {{country.economic['name']}}.
The right to govern was granted by {{country.right}} and that power is maintained {{country.maintained}}.
</p>


{% endblock %}
