

{% extends "base.html" %}
{% block title %} We Venture Deeper... {% endblock %}
{% block head %}
  {{ super() }}
        <script src='/static/js/dungeon.js' ></script>

{% endblock %}
{% block content %}

    <h1> We Venture Deeper... <a href="/dungeon?seed={{dungeon.seed}}">({{dungeon.seed}})</a></h1>
    <canvas id='dungeonmap' height='500' width='800'  >
    </canvas>

    <script type="text/javascript">
        create_dungeon({{jsondata|safe }},document.getElementById('dungeonmap'));
    </script>
<!--
<pre style="font-size:10px;">
{{dungeon.map}} 
</pre>
-->
{% endblock %}
