

{% extends "base.html" %}
{% block title %}Behold the Flag {% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript" src="/static/js/flag.js"></script>

{% endblock %}
{% block content %}

    <div style="background-color:#ffeeff" >
        <canvas id='flag' height='200' >
        </canvas>
    </div>

    <script type="text/javascript">
        create_flag( {{flagjson|safe}},  document.getElementById("flag") );
    </script>
<pre>
{{flagjson}}
</pre>


{% endblock %}
