

{% extends "base.html" %}
{% block title %} {{geomorphdungeon.text}} {% endblock %}
{% block head %}
  {{ super() }}
        <script src='/static/js/dungeon.js' ></script>

{% endblock %}
{% block content %}

    <h1> {{geomorphdungeon.text}} <a href="/geomorphdungeon?seed={{geomorphdungeon.seed}}">({{geomorphdungeon.seed}})</a></h1>

    
    <div style="position: initial;">
    <div style="position: relative;">
        <canvas id='geomorphdungeonmapbackground'   style="float:left; padding-right:30px;position: absolute; left: 0; top: 0; z-index: 5; "></canvas>
        <canvas id='geomorphdungeonmap'             style="float:left; padding-right:30px;position: absolute; left: 0; top: 0; z-index: 10; "></canvas>
    </div>
    </div>

    <script type="text/javascript">
        var jsondata={{jsondata|safe }};

        create_geomorphdungeon(jsondata,document.getElementById('geomorphdungeonmap'),document.getElementById('geomorphdungeonmapbackground'),"{{geomorphdungeon.background}}");
    </script>
{% endblock %}
