

{% extends "base.html" %}
{% block title %} {{tempobj.text}} {% endblock %}
{% block head %}
  {{ super() }}
        <script src='/static/js/dungeon.js' ></script>

{% endblock %}
{% block content %}

    <h1> {{tempobj.text}} <a href="/{{tempobj.__class__.__name__}}?seed={{tempobj.seed}}">({{tempobj.seed}})</a></h1>

    
    <canvas id='geomorphmap'></canvas>

    <script type="text/javascript">
        var jsondata={{jsondata|safe }};

        create_geomorphdungeon(jsondata,document.getElementById('geomorphmap'),"{{tempobj.background}}");
    </script>
{% endblock %}
