

{% extends "base.html" %}
{% block title %}The Ruling Class... {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>The Ruling Class... <a href="/{{tempobj.__class__.__name__.lower()}}?seed={{tempobj.seed}}">({{tempobj.seed}})</a></h1>




<p>{{tempobj.body.name['full']}} is {{tempobj.kind |article}} that is governed through {{tempobj.govttype_description['name']| article}}, where {{tempobj.govttype_description['description']}}. It has been in power {{tempobj.age['name']}}.</p>

<p>The government as a whole is seen as {{tempobj.efficiency['name']}}.</p>

<p>Officials in {{tempobj.body.name['full']}} are often seen as {{tempobj.corruption['name']}} and the policies are {{tempobj.approval['name']}}.</p>

<p>The political influence of {{tempobj.body.name['full']}} in the region is {{tempobj.influence['name']}}{%if tempobj.influencereason %} due to {{tempobj.influencereason}}{%endif%}.</p>
<p>In times of crisis, the population {{tempobj.unity['name']}}.</p>





{% endblock %}
