<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body { margin: 0; overflow: hidden; }
        </style>


    </head>
    <body>

        <h1>Welcome to planet <a href="/?seed={{starsystem.seed}}">{{starsystem.planet.name['full']}} ({{starsystem.seed}})</a></h1>
        <a href="/worldmap?seed={{starsystem.seed}}">Worldmap</a>
        <h2> Stars</h2>
        <ul id="stars">
            {% for star in starsystem.stars %}
                <li>{{ star.name['full']  }}  ({{ star.size_text  }}, {{ star.color_text  }})</a></li>
            {% endfor %}
        </ul>
        <h2> Moons</h2>
        <ul id="moons">
            {% for moon in starsystem.planet.moons %}
                <li>{{ moon.name['full']  }} ({{ moon.size_text  }}, {{ moon.color_text  }})</a></li>
            {% endfor %}
        </ul>
    </body>
</html>

