

{% extends "base.html" %}
{% block title %}Welcome to Megacosm Generator {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <h1>Welcome to Megacosm Generator!</h1>
    Select a generator from above and get started.

    <h2>Purpose</h2>
    <p>So what exactly is the purpose of Megacosm Generator? <strong>Inspiration</strong>.</p>
    
    <p>Being creative is hard, whether you're a Game Master, Dungeon Master, Writer, Painter, or whatever. Sometimes you need that little kick in the pants to get you motivated. Megacosm Generator is here to fill that role.</p>

    <p>The goal of Megacosm Generator is to provide you with a full, procedurally generated world to explore- from solar systems to geopolitical issues to cities and people. The world should be robust and expansive enough to run an entire campaign for a tabletop role playing game and have enough flavor to write a series of books about the experience. It should read like a local gazette, yet provide consise enough data for a Game Master to use while playing. </p>

    <h2>How You Can Help</h2>
    <p>Like what you see? Awesome.</p>
    <p>There are many different ways you could contribute if you'd like to see the project expand. Ideas aren't the problem, it's the piddly details that need work.</p>
    <ul>
        <li><strong>Text</strong> - Megacosm is nothing without it's text. We have dozens of <a href="https://github.com/CityGenerator/Megacosm-Generator/tree/develop/data">sourcefiles</a> that could use more entries. </li>
        <li><strong>Images</strong> - While text is great, <a href="https://github.com/CityGenerator/Megacosm-Generator/wiki/Creating-Holy-Symbol-Artwork">images</a> provide a lot of depth.</li>
        <li><strong>Quality Control</strong> - Most of the content is written at high speed with little error-checking. It's raw. <a href="https://github.com/CityGenerator/Megacosm-Generator/issues/new">Submitting a ticket</a> to fix grammar is helpful.</li>
    </ul>
    <p>If you're willing to help with time and energy, you can check out the <a href="https://github.com/CityGenerator/Megacosm-Generator">codebase</a>, make improvements and submit pull requests  or simply <a href="https://github.com/CityGenerator/Megacosm-Generator/issues/new">report any issues</a> that you find.</p>


<p>Thanks again, and enjoy.</p>
<p><em>- The Megacosm Team</em></p>

{% endblock %}
