

{% extends "base.html" %}
{% block title %} You found {{tempobj.kind|article }} {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <h1>You found <a href="/{{tempobj.__class__.__name__}}?seed={{tempobj.seed}}">{{tempobj.kind|article}}  ({{tempobj.seed}})</a></h1>
    <h2>Summary</h2>
    The {{tempobj.name|title}} is {{tempobj.quality['name']|article }} {{tempobj.material_description['name'] }} {{tempobj.category_description['name']}} with {{tempobj.effect_description['name'] |article}} enchantment that {{tempobj.effect_description['description']}}. It is {{tempobj.repair['name'] }}.
    <h2>Details</h2>
    <p>
    This {{tempobj.quality['name']|article }} {{tempobj.kind}} was created {{tempobj.age['name']}} by {{tempobj.creator}}. The enchantment on it {{tempobj.effect_description['description']}}.
    {%if tempobj.decoration_description %}
        The {{tempobj.category_description['materialpart']}} is decorated with {{tempobj.decoration_description['description']}}.
    {%endif %}
    {%if tempobj.visualeffect%}
        When {{tempobj.visualcause_description['description']}}, the {{tempobj.kind}} {{tempobj.visualeffect_description['description']}}.
    {%endif%}
    {%if tempobj.ability%}
        This {{tempobj.category_description['name']}} {{tempobj.ability_description['description']}}.
    {%endif%}
    </p>
    <p>
    Many consider it {{tempobj.strength['name']| article}} {{tempobj.kind}} and a {{tempobj.value['name']}}.
    {%if tempobj.flaw%}
        This {{tempobj.category_description['name']}} is rather distinctive due to {{tempobj.flaw_description['name'] |article}} on the {{tempobj.category_description['materialpart']}}.
    {%endif%}
    </p>
    
    {% if tempobj.curse %}
    <h2>Danger:</h2> 
    This {{tempobj.kind}} carries a curse of {{tempobj.curse_description['name']|title}}, which {{tempobj.curse_description['description']}}.
    The effects of the curse {{tempobj.curse_duration['name']}}.
    {% endif%}




    <h2>Description If Found...</h2>
    <blockquote style="font-style:italic">
        "{{tempobj.location|capitalize}} you find {{tempobj.material_description['name'] |article}}  {{tempobj.category_description['name']}}. It is {{tempobj.repair['name'] }}.
        {%if tempobj.decoration_description %}
            The {{tempobj.category_description['materialpart']}} is decorated with {{tempobj.decoration_description['description']}}.
        {%endif %}
            

    </blockquote> 
{% endblock %}
