

{% extends "base.html" %}
{% block title %}Meet {{tempobj.name['full']}} {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <h1>Meet <a href="/{{tempobj.__class__.__name__}}?seed={{tempobj.seed}}">{{tempobj.name['full']}} ({{tempobj.seed}})</a></h1>
    <h2>Summary</h2>
    {{tempobj.name['full']}} is {{tempobj.age['name']|article}} {{tempobj.race}} {{tempobj.sex['name']}} who is {{tempobj.skill['name'] | article}} {{tempobj.profession}} by trade. {{tempobj.name['firstname']}} is motivated {{tempobj.motivation.text}}.
    
    <h2>Description</h2>
    {{tempobj.name['full']}} is {{tempobj.height| article}} {{tempobj.race}} with {{tempobj.complexion| article}} complexion. {{tempobj.name['firstname']}} appears {{tempobj.build}} and has {{tempobj.eye}} eyes. 

    {{tempobj.sex['possessive']|capitalize}} friends describe {{tempobj.sex['third-person']}} as {{tempobj.charisma['name']}}, while others see {{tempobj.name['firstname']}} as {{tempobj.attractiveness['name']}}. Physically, {{tempobj.sex['pronoun']}} appears {{tempobj.strength['name']}} and {{tempobj.endurance['name']}}.

    <h2>Behavior</h2>
    {{tempobj.name['firstname']}} appears {{tempobj.emotion}}, but if approached, {{tempobj.sex['pronoun']}} will act {{tempobj.attitude}}.  When provoked, {{tempobj.name['firstname']}} is {{tempobj.bravery['name']}}. Peers consider {{tempobj.sex['third-person']}} {{tempobj.intelligence['name']}}. People who know {{tempobj.name['firstname']}} think {{tempobj.sex['pronoun']}} is {{tempobj.honor['name']}}. Looking back, {{tempobj.sex['pronoun']}} is {{tempobj.satisfaction['name']}} of {{tempobj.sex['possessive']}} past choices. {{tempobj.name['firstname']}} is motivated {{tempobj.motivation.text}}.

{{tempobj.sex['pronoun']|capitalize}} considers {{tempobj.sex['third-person']}}self {{tempobj.piety['name']|article}} worshipper of the {{tempobj.deity.importance['name']}} <a href="/deity?seed={{tempobj.deity.seed}}">{{tempobj.deity.name['full']}}</q>.



{% endblock %}
