<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <style>
        </style>

    </head>
    <body>

        <h1>Meet <a href="/npc?seed={{npc.seed}}">{{npc.name['full']}} ({{npc.seed}})</a></h1>
<h2>Summary</h2>
{{npc.name['full']}} is {{npc.age['name']|article}} {{npc.race}} {{npc.sex['name']}} who is {{npc.skill['name'] | article}} {{npc.profession}} by trade. {{npc.sex['pronoun']|capitalize}} is currently {{npc.motivation}}.


<h2>Description</h2>
{{npc.name['full']}} is {{npc.height| article}} {{npc.race}} with {{npc.complexion| article}} complexion. {{npc.name['firstname']}} appears {{npc.build}} and has {{npc.eye}} eyes. 

{{npc.sex['possessive']|capitalize}} friends describe {{npc.sex['third-person']}} as {{npc.charisma['name']}}, while others see {{npc.name['firstname']}} as {{npc.attractiveness['name']}}. Physically, {{npc.sex['pronoun']}} appears {{npc.strength['name']}} and {{npc.endurance['name']}}.

<h2>Behavior</h2>

{{npc.name['firstname']}} appears {{npc.emotion}}, but if approached, {{npc.sex['pronoun']}} will act {{npc.attitude}}.  When provoked, {{npc.name['firstname']}} is {{npc.bravery['name']}}. Peers consider {{npc.sex['third-person']}} {{npc.intelligence['name']}}. Looking back, {{npc.sex['pronoun']}} is {{npc.satisfaction['name']}} of {{npc.sex['possessive']}} past choices.




    </body>
</html>




