<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <style>
        </style>
        <script>
            function disable_unused(){
                var elem=document.getElementById('npcform').elements
                for(var i = 0; i < elem.length; i++){
                    console.log(elem[i].name)
                    if (elem[i].value == ""){
                        elem[i].disabled=true
                        console.log('disabled!')
                    }
                }
                console.log('complete')
                return 1;
            }
        </script>

    </head>
    <body>

        <h1>Lets build an NPC!</h1>
        <form action="/npc" id="npcform">
        <table>
            {% for statname in otherstats %}
            <tr>
                <td>{{statname|capitalize}} </td>
                <td>
                    <select name="npc_{{statname}}">
                        <option value=""></option>
                        {% for stat in otherstats[statname]|sort %}
                        <option value="{{ stat }}">{{stat }} </option>
                        {% endfor %}
                    <select>
                </td>
            </tr>
            {% endfor %}



            {% for stat in statinfo %}
            <tr>
                <td>{{stat}}: </td>
                <td>
                    <select name="npc_{{stat}}_roll">
                        <option value=""></option>
                        {% for statstring in statinfo[stat] %}
                        <option value="{{ statstring['score']}}">{{statstring['name'] }} </option>
                        {% endfor %}
                    <select>
                </td> 
            </tr> 
            {% endfor %}
        </table>
            <input onclick="disable_unused();" type="submit" name="build!" value="build!"></input>
        </form>
    </body>
</html>




