

{% extends "base.html" %}
{% block title %}No One Crosses {{organization.name['full']}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>No One Crosses {{organization.name['full']}} <a href="/organization?seed={{organization.seed}}">({{organization.seed}})</a></h1>

<h2>Summary</h2>
The {{organization.name['full']}} is {{organization.age['name']|article}}, {{organization.legal['name']}} {{organization.kind}}.
<p>
Members of {{organization.name['full']}} can be identified {{organization.identification}}.
</p>


<pre>
{%for field in organization.__dict__ %}
{{field}}  {{organization[field]}}
{%endfor%}


</pre>


{% endblock %}
