
{% extends "base.html" %}
{% block title %}Welcome to the Region of {{region.name['full']}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>Welcome to the Region <a href="/region?seed={{region.seed}}">{{region.name['full']}} ({{region.seed}})</a></h1>

    <h2>Summary</h2>

{{region.name['full'] }} is {{region.size['name'] |article }} region. The political influence of {{region.name['full']}} in the region is {{region.influence['name']}}.
    Religion in this region {{region.theology['name']}}.

    <h2>National Relationship</h2>
    People in the region think the national government is {{region.corruption['name']}} and many citizens {{region.countryapproval['name']}} it.
    They also describe the national government as {{region.efficiency['name']}} and feels the rest of the regions {{region.unity['name']}}.



{% if region.cities  %}
    <h2>Cities</h2>

    The region has {{region.citydetails['name']}} known {{ 'city'|pluralize( region.cities|length)}}.

    <ul>
    {%for city in region.cities %}
        <li><a href="/city?seed={{city.seed}}">{{city.name['full']}} ({{city.seed}})</a> is {{city.age['name']|article}} {{city.size['name']}} city.</li>
    {%endfor%}
    </ul>

    <pre>
    {%for field in region.__dict__%}
        {{field}} {{region[field]}}
    {%endfor%}
    </pre>
{%endif%}
{% endblock %}
