
{% extends "base.html" %}
{% block title %}Create a Bond{% endblock %}
{% block head %}
  {{ super() }}
        <script>
            function disable_unused(){
                var elem=document.getElementById('genform').elements
                console.log(elem)
                for(var i = 0; i < elem.length; i++){
                    if (elem[i].value == "" ){
                        elem[i].disabled=true
                        console.log('disabled!')
                    }
                }
                return 1;
            }
            window.onpageshow = function(){
                // added so firefox enables things if the back button is hit. stupid firefox
                var elem=document.getElementById('genform').elements
                for(var i = 0; i < elem.length; i++){
                    if (elem[i].value == "" ){
                        elem[i].disabled=false
                    }
                }
                return 1;
            }
        </script>

{% endblock %}
{% block content %}

<!-- TODO refactor this crap into one generator builder, then moved the above functions to a separate js file  -->
        <h1>Lets build a Bond!</h1>
        <form action="/bond" id="genform">

        <table>

            {% for stat in ['partyA','partyB','you','other','either'] %}
            <tr>
                <td>{{stat}}: </td>
                <td>
                    <input type=text name="bond_{{stat}}" value=''/>
                  
                </td> 
            </tr> 
            {% endfor %}

            {% for stat in statinfo %}
            <tr>
                <td>{{stat}}: </td>
                <td>
                    <select name="bond_{{stat}}">
                        <option value=""></option>
                        {% for statstring in statinfo[stat] %}
                        <option value="{{ loop.index0}}">{{statstring }} </option>
                        {% endfor %}
                    <select>
                </td> 
            </tr> 
            {% endfor %}
        </table>
            <input onclick="disable_unused();" type="submit" value="build!"></input>
        </form>

{% endblock %}









