
{% extends "base.html" %}
{% block title %}Welcome to {{tempobj.name.fullname}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div style="float:left;margin-right:30px" id="mapcontainer">Loading...</div>
<h1> {{tempobj.name.fullname}} (<a href="/city?seed={{tempobj.seed}}">{{tempobj.seed}}</a> )</h1>

<p>You come across the {{tempobj['size']['name']}} of {{tempobj.name.fullname}}, population {{tempobj.population_estimate}}</p>

<p>Favored hangout: <a href="/business?seed={{tempobj.gatheringplace.seed}}&business_kind={{tempobj.gatheringplace.kind}}">{{tempobj.gatheringplace}}</a></p>

<p>Random Citizen: <a href="/npc?seed={{tempobj.citizen.seed}}">{{tempobj.citizen}}</a></p>


<p>Race breakdown:
<ul>
{% for race,value in tempobj.get_race_breakdown()|dictsort(false, 'value')|reverse%}
    <li>{{race}} ({{value}}%)</li>
{%endfor%}
</ul>

</p>
<!--
<pre>
{%for field in tempobj.__dict__%}
    {{field}}  {{tempobj[field]}}
 {%endfor%}
</pre>
-->
        {% assets "js_flag" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "js_city" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

<script>

    // seed
    Math.seedrandom( {{tempobj.seed}}  );

    init( Math.seed);

    animate();

</script>
{% endblock %}
