

{% extends "base.html" %}
{% block title %} {{tempobj.text}} {% endblock %}
{% block head %}
  {{ super() }}
        <script src='/static/js/geomorphdungeon.js' ></script>

{% endblock %}
{% block content %}

    <h1> {{tempobj.text}} <a href="/{{tempobj.__class__.__name__.lower()}}?seed={{tempobj.seed}}">{{tempobj }} ({{tempobj.seed}})</a></h1>

    
    <input type="button" onclick="save_as_png('geomorphmap')" value="Convert to Image">
    <br>
    <canvas id='geomorphmap'></canvas>

    <script type="text/javascript">
        var jsondata={{jsondata|safe }};

        create_geomorphdungeon(jsondata,document.getElementById('geomorphmap'), "{{tempobj.background}}", "{{tempobj.decoration}}", {{tempobj.decorationoffset['offset']}});
    </script>
{% endblock %}
