

{% extends "base.html" %}
{% block title %}Our Leader,  {{tempobj.name['fulltitled']}} {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

    <h1>Our Leader, <a href="/{{tempobj.__class__.__name__.lower()}}?seed={{tempobj.seed}}">{{tempobj.name['fulltitled']}} ({{tempobj.seed}})</a></h1>

<h2>Summary</h2>
{{tempobj.name.fullname}} is the {{tempobj.name['title']}} of {{tempobj.location.name.fullname|title}}. {{tempobj.name.shortname}} is considered {{tempobj.charisma['name']}} and {{tempobj.skill['name']}}. {{tempobj.sex['possessive']|capitalize}} constituents consider {{tempobj.sex['third-person']}} {{tempobj.honor['name']}}.



{% endblock %}
