

{% extends "base.html" %}
{% block title %}You Found Loot! {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>You Found Loot! <a href="/{{tempobj.__class__.__name__|lower}}?seed={{tempobj.seed}}">({{tempobj.seed}})</a></h1>
You find {{tempobj.name.full|article}} which contains:
{%for treasure in tempobj.kind_description%}

    {%if tempobj.kind_description[treasure] %}
        <h2>{{treasure|title}}</h2>
        <ul>
            {%for item in tempobj[treasure]%}
                <li>{{item.listing}} (<a href="/{{treasure}}?seed={{item.seed}}">{{item.seed}}</a>)</li>
            {%endfor%}
        </ul>
    {%endif%}
{%endfor%}


{% endblock %}
