
{% extends "base.html" %}
{% block title %}Build an NPC{% endblock %}
{% block head %}
  {{ super() }}
        <script>
            function disable_unused(){
                var elem=document.getElementById('npcform').elements
                console.log(elem)
                for(var i = 0; i < elem.length; i++){
                    if (elem[i].value == ""){
                        elem[i].disabled=true
                        console.log('disabled!')
                    }
                }
                return 1;
            }
            window.onpageshow = function(){
                // added so firefox enables things if the back button is hit. stupid firefox
                var elem=document.getElementById('npcform').elements
                for(var i = 0; i < elem.length; i++){
                    if (elem[i].value == ""){
                        elem[i].disabled=false
                    }
                }
                return 1;
            }
        </script>

{% endblock %}
{% block content %}


        <h1>Let's build an NPC!</h1>
        Lists: {{plist.keys()}}<br>
        Sets: {{pset.keys()}}<br>
        Strings: {{pstring}}<br>
    <div class='container-fluid'>
        <div class="row">
        <form action="/npc" id="npcform">
            <div class="col-xs-4">
                <div  style="border:1px solid black;" >
                    <div style="font-weight:bold">Basic Details</div>
                    <div>
                        <label> Race:</label>
                        <select name="npc_race">
                            <option value=""></option>
                            {% for stat in plist['race'] %}
                            <option value="{{stat}}">{{stat }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    {% for stat in ['sex','age'] %}
                    <div>
                        <label> {{stat|capitalize}}:</label>
                        <select name="npc_{{stat}}_roll">
                            <option value=""></option>
                            {% for stat in pset[stat]|sort %}
                            <option value="{{ stat.score }}">{{stat.name }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    {% endfor %}
                </div>
    
                <div style="border:1px solid black; margin-top:5px;">
                    <div style="font-weight:bold">Basic Stats</div>
                    {% for stat in ['strength','agility', 'endurance','intelligence','wisdom','charisma'] %}
                    <div>
                        <label> {{ stat|capitalize }}:</label>
                        <select name="npc_{{ stat }}_roll">
                            <option value=""></option>
                            {% for statvalue in pset[stat] %}
                            <option value="{{ statvalue['score'] }}">{{statvalue['name'] }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div  class="col-xs-4">
                <div style="border:1px solid black;" >
                    <div style="font-weight:bold">Personality</div>
                    {% for stat in ['piety', 'honor', 'bravery', 'generous'] %}
                    <div>
                        <label> {{ stat|capitalize }}:</label>
                        <select name="npc_{{ stat }}_roll">
                            <option value=""></option>
                            {% for statvalue in pset[stat] %}
                            <option value="{{ statvalue['score'] }}">{{statvalue['name'] }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    {% endfor %}
                </div>
    
                <div style="border:1px solid black;margin-top: 5px">
                    <div style="font-weight:bold">Physical Features</div>
                    <div>
                        <label>Attractiveness:</label>
                        <select name="npc_attractiveness_roll">
                            <option value=""></option>
                            {% for statvalue in pset['attractiveness'] %}
                            <option value="{{ statvalue['score'] }}">{{statvalue['name'] }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    {% for stat in ['height','build','complexion','eye' ] %}
                    <div>
                        <label>{{ stat|capitalize }}:</label>
                        <select name="npc_{{ stat }}">
                            <option value=""></option>
                            {% for statvalue in plist[stat] %}
                            <option value="{{ loop.index-1 }}">{{statvalue }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    {% endfor %}
                    <div>
                        <label>Mark:</label>
                        <select name="npc_mark">
                            <option value=""></option>
                            {% for statvalue in plist['mark'] %}
                            <option value="{{ loop.index-1 }}">{{statvalue }} </option>
                            {% endfor %}
                        <select>
                    </div>
                    <div>
                        <label>Mark Location:</label>
                        <select name="npc_mark_location">
                            <option value=""></option>
                            {% for statvalue in plist['mark_location'] %}
                            <option value="{{ loop.index-1 }}">{{ statvalue }} </option>
                            {% endfor %}
                        <select><br/>
                        <label>Mark Chance</label> <input name="npc_mark_chance" maxlength="3" size="2"/>%
                    </div>
                    <div>
                        <label>Medical Condition:</label>
                        <select name="npc_medical_condition">
                            <option value=""></option>
                            {% for statvalue in plist['medical_condition'] %}
                            <option value="{{ loop.index-1 }}">{{statvalue }} </option>
                            {% endfor %}
                        <select><label>Medical Condition Chance</label> <input name="npc_medical_condition_chance" maxlength="3" size="2"/>%
                    </div>
                    <div>
                        <label>Regret:</label>
                        <select name="npc_regret">
                            <option value=""></option>
                            {% for statvalue in plist['regret'] %}
                            <option value="{{ loop.index-1 }}">{{statvalue }} </option>
                            {% endfor %}
                        <select>
                    </div>
                </div>

            </div>

        <table>
            {% for statname in otherstats %}
            <tr>
                <td>{{statname|capitalize}} </td>
                <td>
                    <select name="npc_{{statname}}">
                        <option value=""></option>
                        {% for stat in otherstats[statname]|sort %}
                        <option value="{{ stat }}">{{stat }} </option>
                        {% endfor %}
                    <select>
                </td>
            </tr>
            {% endfor %}



            {% for stat in statinfo %}
            <tr>
                <td>{{stat}}: </td>
                <td>
                    <select name="npc_{{stat}}_roll">
                        <option value=""></option>
                        {% for statstring in statinfo[stat] %}
                        <option value="{{ statstring['score']}}">{{statstring['name'] }} </option>
                        {% endfor %}
                    <select>
                </td> 
            </tr> 
            {% endfor %}
        </table>
            <input onclick="disable_unused();" type="submit" value="build!"></input>
        </form>
        </div>
    </div>
{% endblock %}









