

{% extends "base.html" %}
{% block title %} {{ titletext}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1> {{titletext}} <a href="/{{generator}}?seed={{oneliner.seed}}">({{oneliner.seed}})</a></h1>

    {% if not oneliners %}
        {{oneliner.text}} 
    {%endif%}
    {% if oneliners %}
        <ul class='oneliner-list'>
        {%for oneliner in oneliners%}
        <li>{{oneliner.text}} </li>
        {%endfor%}
        </ul>
    {%endif%}

<p>
<form action="/{{generator}}" id="genform">

    Like it? generate 
    <select name="count">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select> 
    <input type="submit" value="More"></input>
</form>
</p>

{% if request.args.get('debug') and oneliner is defined%}
    <ul>
    {%for field in oneliner.__dict__|sort %}
        <li>{{field}} : {{oneliner[field]}}
    {%endfor%}
    </ul>
{% endif %}


{% endblock %}
