
{% extends "base.html" %}
{% block title %}No One Crosses {{tempobj.name.fullname}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>No One Crosses {{tempobj.name.fullname}} <a href="/organization?seed={{tempobj.seed}}">({{tempobj.seed}})</a></h1>

<h2>Summary</h2>
<p>{{tempobj.name.fullname}} is {{tempobj.age['name']|article}}, {{tempobj.legal['name']}} {{tempobj.kind}} with a {{tempobj.violence['name']}} reputation.</p>

<h2>Leadership</h2>
{{tempobj.name.fullname}} is lead by {{tempobj.leader.name.fullname}}, {{tempobj.leader.honor['name']|article}} {{tempobj.leader.race}} with {{tempobj.leader.attitude|article}} attitude.
Leadership within {{tempobj.name.fullname}} is {{tempobj.leadership['name']}}, and is {{tempobj.structure['name']}} structured. Failure is handled with {{tempobj.failure['name']}}.

Insiders say they {{tempobj.stability['name']}} internally.

Leaders of {{tempobj.name.fullname}}  {{tempobj.adaptability['name']}}. Rules are {{tempobj.rules['name']}} defined, and when they are broken, punishment is {{tempobj.regulation['name']}}.

<h2>Membership</h2>

<p>Members of {{tempobj.name.fullname}} are expected to work {{tempobj.teamwork['name']}}.

They are {{tempobj.visibility['name']}} to the average citizen and can be identified {{tempobj.identification}}.
Anyone wishing to join {{tempobj.name.fullname}} will find it {{tempobj.entry['name']|article}} task.

</p>


{% endblock %}
