

{% extends "base.html" %}
{% block title %}Welcome to the Planet {{tempobj.name.fullname}} {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

    <h1>Welcome to the Planet <a href="/{{tempobj.__class__.__name__.lower()}}?seed={{tempobj.seed}}">{{tempobj.name.fullname}} ({{tempobj.seed}})</a></h1>

    <h2>Summary</h2>


{{tempobj.name.fullname }} is {{tempobj.size['name'] |article }} planet with {{tempobj.mooncount['name'] |article }}. 
Days are {{tempobj.day['name'] }} on {{tempobj.name.fullname }}.
 

<h2>Weather</h2>
{{tempobj.name.fullname }} has {{tempobj.atmosphere['name'] |article }} atmosphere, where precipitation is {{tempobj.precipitation['name'] }}.
The temperature on {{tempobj.name.fullname }} is {{tempobj.temp['name'] }}, and the wind is {{tempobj.wind['name'] }}.

<h2>Civilization and Technology</h2>

The growth of civilization on {{tempobj.name.fullname }} is considered {{tempobj.civilization['name'] }}.
The average technology level is {{tempobj.technology['name'] }}, which is known for {{tempobj.technology['description'] }}.


{%if tempobj.moons%}
<h2>Moons</h2>
    <ul>
    {%for moon in tempobj.moons %}
        <li>{{moon.name.fullname}} is {{moon.size['name'] |article}} {{moon.color['name']}} moon.</li>
    {%endfor%}
    </ul>

{%endif%}

{%if tempobj.continents%}
<h2>Continents</h2>
    <ul>
    {%for continent in tempobj.continents %}
        <li><a href="/continent?seed={{continent.seed}}&planet_seed={{continent.planet.seed}}">{{continent.name.fullname}} ({{continent.seed}})</a> is {{continent.size['name'] |article }} continent with {{continent.civilization['name'] }} civilization.</li>
    {%endfor%}
    </ul>

{%endif%}



{% endblock %}
