
{% extends "base.html" %}
{% block title %}Build a Planet{% endblock %}
{% block head %}
  {{ super() }}
        <script>
            function disable_unused(){
                var elem=document.getElementById('planetform').elements
                console.log(elem)
                for(var i = 0; i < elem.length; i++){
                    if (elem[i].value == ""){
                        elem[i].disabled=true
                        console.log('disabled!')
                    }
                }
                return 1;
            }
            window.onpageshow = function(){
                // added so firefox enables things if the back button is hit. stupid firefox
                var elem=document.getElementById('planetform').elements
                for(var i = 0; i < elem.length; i++){
                    if (elem[i].value == ""){
                        elem[i].disabled=false
                    }
                }
                return 1;
            }
        </script>

{% endblock %}
{% block content %}


        <h1>Lets build a Planet!</h1>
        <form action="/planet" id="planetform">


        <table>

            {% for stat in statinfo %}
            <tr>
                <td>{{stat}}: </td>
                <td>
                    <select name="planet_{{stat}}_roll">
                        <option value=""></option>
                        {% for statstring in statinfo[stat] %}
                        <option value="{{ statstring['score']}}">{{statstring['name'] }} </option>
                        {% endfor %}
                    <select>
                </td> 
            </tr> 
            {% endfor %}
        </table>
            <input onclick="disable_unused();" type="submit" value="build!"></input>
        </form>

{% endblock %}









